.popup__close-button {
    cursor: pointer;
    border: none;
    background-image: url(../../../images/popup__close-button.svg);
    background-color: transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url(../../../images/popup__close-button-mobile.svg);
    }
}