.header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 400px) {
    .header {
        padding-bottom: 32px;
    }
}