.element__like-button {
    box-sizing: border-box;
    border: none;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-image: url(../../../images/element__like-button.svg);
    color: #000000;
    width: 22px;
    height: 19px;
    cursor: pointer;
    padding: 0;
}

.element__like-button:hover {
    opacity: .5;
}